-
  var cardAdvantages = [
    {
      header: 'Доставка по миру',
      subheader: 'Доставляем куда угодно в кратчайшие сроки. Гарантируем сохранность товара',
    },
    {
      header: 'Превосходное качество',
      subheader: 'Превосходное качество стекла с титановы покрытием',
    },
    {
      header: 'Ваши варианты',
      subheader: 'Выбирайте любую форму, объём, цвет и мы сделаем для вас уникальный вариант',
    },
    {
      header: 'Есть вопросы?',
      subheader: 'С удовольствием проконсультируем вас по телефону или по почте',
    },
  ];

section.card-advantages
  .card-advantages__wrap 
    each item in cardAdvantages
      .card-advantages__item(data-sal="slide-up" data-sal-duration="400" data-sal-easing="ease-in-sine")
        .card-advantages__item-header #{ item.header }
        .card-advantages__item-subheader #{ item.subheader }
