-
  var cardDescr = [
    {
      key: 'Описание',
      val: 'Бокалы из превосходного стекла украсят ваш стол и создадут незабываемую атмосферу. Яркие, уникальные цвета, красиво преломляющие свет, создадут игру цвета и подарят вам незабываемое эстетическое удовольствие. Бокалы не потеряют своей красочности даже при многократной мойке и будут долго радовать вас.',
    },
    {
      key: 'Доставка и оплата',
      val: 'Доставка в любую страну. Производится транспортными компаниями, по Москве — бесплатно. Среднее время доставки по России — 2 рабочих дня.',
    },
    {
      key: 'Индивидуальный заказ',
      val: 'Мы изготовим бокалы любой формы и цвета на заказ, а также можем нанести надписи и логотипы. Поможем определиться с дизайном, обсудим варианты упаковки и доставки к вам. Широкий ассортимент — более 1000 форм и 3000 уникальных цветовых решений на выбор.',
    },
  ];

section.card-descr
  .card-desrc__wrap 
    each item in cardDescr
      .card-descr__item(data-sal="slide-up" data-sal-duration="400" data-sal-easing="ease-in-sine")
        .card-descr__item-key #{ item.key }
        .card-descr__item-value #{ item.val }
