header.header(data-header="block")
  .header__wrap
    nav.header__nav
      a.header__link(href="/catalog.html" data-link="redirect")
        span.header__link-text Продукция
        span.header__link-count 01.
      a.header__link(href="#")
        span.header__link-text Технология
        span.header__link-count 02.
      a.header__link(href="#")
        span.header__link-text Завод
        span.header__link-count 03.
      a.header__link(href="#")
        span.header__link-text Контакты
        span.header__link-count 04.
    a.header__logo(href="/" data-link="redirect") Glasstar
    .header__callback
      button.header__callback-btn Перезвоните мне
      a.header__callback-link(href="tel:+78001234567") 8 800 123 45 67
    .header__lang 
      a.header__lang-item.header__lang-item--active(href="#") RU
      a.header__lang-item(href="#") ENG
    button.header__menu-btn(data-header="menu-btn")
      svg
        line(x1="0" x2="60" y1="1" y2="1")
        line(x1="60" x2="0" y1="13" y2="13")
  .header__menu(data-header="menu")
    nav.header__nav
      a.header__link(href="/catalog.html" data-link="redirect")
        span.header__link-text Продукция
        span.header__link-count 01.
      a.header__link(href="#")
        span.header__link-text Технология
        span.header__link-count 02.
      a.header__link(href="#")
        span.header__link-text Завод
        span.header__link-count 03.
      a.header__link(href="#")
        span.header__link-text Контакты
        span.header__link-count 04.
    .header__contacts
      a.header__contact(href="tel:+7800333666123") 8 800 333 666 123
      a.header__contact(href="mailto:info@glasstar.com") info@glasstar.com
