.catalog-promo {
  padding: toRem(75) 0 toRem(15) 0;
  position: relative;
  z-index: 1;
  @include to(1200px) {
    padding: 40px 0 10px 0;
  }
  @include to(992px) {
    padding-top: 35px;
  }
  @include to(768px) {
    padding-top: 30px;
  }
  @include to(576px) {
    padding-top: 25px;
  }
  &__wrap {
    padding: 0 toRem(65);
    @include to(1200px) {
      padding: 0 20px;
    }
  }
  &__title {
    font-weight: 350;
    font-size: toRem(118);
    line-height: 100%;
    letter-spacing: -0.05em;
    color: #ffffff;
    text-align: center;
    @include to(1200px) {
      font-size: 70px;
    }
    @include to(992px) {
      font-size: 60px;
    }
    @include to(576px) {
      text-align: left;
    }
    @include to(360px) {
      font-size: 50px;
    }
  }
  &__bg {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -2;
    img {
      display: block;
      @include cover;
      max-width: 100%;
    }
  }
}
