.about-text {
  padding: toRem(60) toRem(65) 0 toRem(65);
  @include to(1200px) {
    padding: 40px 20px 0 20px;
  }
  @include to(992px) {
    padding-top: 20px;
  }
  &__wrap {
    width: 100%;
    max-width: toRem(900);
    margin-left: auto;
    @include to(1200px) {
      max-width: 560px;
    }
  }
  &__text {
    font-weight: 400;
    font-size: toRem(35);
    line-height: toRem(39);
    letter-spacing: -0.03em;
    color: #ffffff;
    @include to(1200px) {
      font-size: 22px;
      line-height: 24px;
    }
    @include to(992px) {
      font-size: 20px;
      line-height: 21px;
    }
    @include to(768px) {
      font-size: 18px;
    }
    @include to(576px) {
      font-size: 16px;
    }
    p {
      font: inherit;
      &:not(:last-child) {
        margin-bottom: toRem(50);
        @include to(1200px) {
          margin-bottom: 30px;
        }
        @include to(992px) {
          margin-bottom: 25px;
        }
      }
      &:first-child {
        text-indent: toRem(150);
        @include to(1200px) {
          text-indent: 90px;
        }
        @include to(992px) {
          text-indent: 60px;
        }
        @include to(768px) {
          text-indent: 30px;
        }
      }
    }
  }
  &__link {
    margin-top: toRem(40);
    @include to(1200px) {
      margin-top: 40px;
    }
  }
}
