-
  var technologyTips = [
    'Мойте изделия из стекла теплой водой с добавлением мягкого средства для мытья посуды без абразивных частиц в составе.', 'При использовании посудомоечной машины выставьте щадящий короткий режим с низкой температурой. После окончания немедленно откройте дверцу машины.', 'После мытья протрите стеклянную посуду мягким кухонным полотенцем.', 'Во время полировки рюмок и бокалов не вращайте основание и ножку в разные стороны: при приложении усилия это может привести к излому.', 'С изделием из стекла следует обращаться осторожно, чтобы избежать повреждения, а впоследствии и возможного ранения. Особенно не рекомендуется подпускать детей к обращению со стеклом.'
  ];

section.technology-tips
  .technology-tips__wrap
    h2.technology-tips__title(data-sal="fade" data-sal-duration="400" data-sal-easing="ease-in-sine") Советы по уходу
    .technology-tips__items 
      each tip, index in technologyTips
        .technology-tips__item(data-sal="slide-up" data-sal-duration="400" data-sal-easing="ease-in-sine")
          .technology-tips__item-counter 0#{ index + 1 }
          .technology-tips__item-text #{ tip }
