section.technology-text
  .technology-text__wrap 
    h3.technology-text__descr(data-sal="fade" data-sal-duration="400" data-sal-easing="ease-in-sine") Потоки ионов и атомов, образованные в результате экологически чистого процесса, осаждаются на поверхности подложки, обеспечивая получение пленок толщиной от долей нанометра до нескольких микрон, обладающих высокой твердостью и коррозионной стойкостью.
    a.technology-text__btn.button(href="/catalog.html" data-link="redirect" data-sal="fade" data-sal-duration="400" data-sal-easing="ease-in-sine")
      span смотреть продукцию
      svg(width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M0.717518 15.8597L14.8597 1.71753M14.8597 1.71753H1.42462M14.8597 1.71753V15.1526" stroke="white" stroke-width="2")
