:root {
  --app-height: 100%;
}

html {
  font-size: 18px;
  height: 100vh;
  height: var(--app-height);
}

body {
  overflow-x: hidden;
  font-family: "Suisse Intl";
  background-color: #000;
  position: relative;
  &.blocked-scroll {
    overflow: hidden !important;
    height: 100vh;
  }
}

main.content {
  opacity: 0;
  width: 100%;
  overflow-x: hidden;
  padding-top: toRem(74);
  @include to(1200px) {
    padding-top: 46px;
  }
  @include to(992px) {
    padding-top: 81px;
  }
  .scroll-enabled & {
    height: 100vh;
  }
}
