.header {
  overflow-x: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: toRem(25) toRem(65);
  background-color: #000;
  border-bottom: 2px solid #fff;
  z-index: 50;
  @include to(1200px) {
    padding: 15px 20px;
  }
  @include to(992px) {
    padding: 45px 20px 20px 20px;
  }
  &__wrap {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    @include to(992px) {
      justify-content: space-between;
    }
  }
  &__nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    @include to(992px) {
      display: none;
    }
    .header__menu & {
      @include to(992px) {
        display: flex;
        flex-flow: column nowrap;
        align-items: initial;
      }
    }
  }
  &__link {
    width: fit-content;
    display: flex;
    flex-flow: row nowrap;
    transition: opacity 0.3s ease-in-out;
    &:hover,
    &:focus {
      opacity: 0.6;
      transition: opacity 0.3s ease-in-out;
    }
    &:not(:last-child) {
      margin-right: toRem(40);
      @include to(1200px) {
        margin-right: 15px;
      }
      @include to(992px) {
        margin-right: 0;
        margin-bottom: 15px;
      }
    }
    &-text {
      font-weight: 350;
      font-size: toRem(18);
      line-height: 100%;
      letter-spacing: -0.03em;
      color: #ffffff;
      @include to(1200px) {
        font-size: 12;
      }
      @include to(992px) {
        font-size: 28px;
        line-height: 39px;
      }
    }
    &-count {
      transform: translateY(toRem(-10));
      font-weight: 350;
      font-size: toRem(10);
      line-height: 100%;
      letter-spacing: -0.03em;
      color: #ffffff;
      @include to(1200px) {
        font-size: 7px;
        transform: translateY(-7);
      }
      @include to(992px) {
        font-size: 14px;
      }
    }
  }
  &__logo {
    margin: 0 auto;
    font-weight: 350;
    font-size: toRem(22);
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #ffffff;
    transition: opacity 0.3s ease-in-out;
    @include to(1200px) {
      font-size: 14px;
    }
    @include to(992px) {
      margin: initial;
    }
    &:hover,
    &:focus {
      opacity: 0.6;
      transition: opacity 0.3s ease-in-out;
    }
  }
  &__callback {
    margin-right: toRem(150);
    display: flex;
    flex-flow: row nowrap;
    @include to(1200px) {
      margin-right: 25px;
    }
    @include to(992px) {
      display: none;
    }
    &-btn {
      margin-right: toRem(40);
      font-weight: 350;
      font-size: toRem(18);
      line-height: 100%;
      letter-spacing: -0.03em;
      color: #ffffff;
      transition: opacity 0.3s ease-in-out;
      @include to(1200px) {
        margin-right: 25px;
        font-size: 12px;
      }
      &:hover,
      &:focus {
        opacity: 0.6;
        transition: opacity 0.3s ease-in-out;
      }
    }
    &-link {
      font-weight: 350;
      font-size: toRem(18);
      line-height: 100%;
      letter-spacing: -0.03em;
      color: #ffffff;
      transition: opacity 0.3s ease-in-out;
      @include to(1200px) {
        font-size: 12px;
      }
      &:hover,
      &:focus {
        opacity: 0.6;
        transition: opacity 0.3s ease-in-out;
      }
    }
  }
  &__lang {
    display: flex;
    flex-flow: row nowrap;
    @include to(992px) {
      display: none;
    }
    &-item {
      position: relative;
      font-weight: 350;
      font-size: toRem(18);
      line-height: 100%;
      letter-spacing: -0.03em;
      color: #ffffff;
      transition: opacity 0.3s ease-in-out;
      @include to(1200px) {
        font-size: 12px;
      }
      &:hover,
      &:focus {
        opacity: 0.6;
        transition: opacity 0.3s ease-in-out;
        &::before {
          max-width: 100%;
          transition: width 0.3s ease-in-out, max-width 0.3s ease-in-out;
        }
      }
      &:not(:last-child) {
        margin-right: toRem(25);
        @include to(1200px) {
          margin-right: 10px;
        }
      }
      &::before {
        content: "";
        position: absolute;
        bottom: toRem(-28);
        left: 0;
        width: 100%;
        max-width: 0;
        height: toRem(4);
        background-color: #fff;
        transition: width 0.3s ease-in-out, max-width 0.3s ease-in-out;
        @include to(1200px) {
          height: 4px;
          bottom: -17px;
        }
      }
      &--active {
        &::before {
          max-width: 100%;
          transition: width 0.3s ease-in-out, max-width 0.3s ease-in-out;
        }
      }
    }
  }
  &__contacts {
    margin-top: 60px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    @include to(576px) {
      justify-content: space-between;
    }
  }
  &__contact {
    font-weight: 350;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.03em;
    color: #ffffff;
    transition: opacity 0.3s ease-in-out;
    &:hover,
    &:focus {
      opacity: 0.6;
      transition: opacity 0.3s ease-in-out;
    }
    &:not(:last-child) {
      margin-right: 70px;
      @include to(576px) {
        margin-right: 0;
      }
    }
  }
  &__menu {
    overflow-y: auto;
    z-index: 50;
    position: fixed;
    padding: 25px 20px;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100vh;
    background: #000000;
    display: none;
    flex-flow: column nowrap;
    justify-content: flex-end;
    pointer-events: none;
    .scroll-enabled & {
      padding: 40px 20px 60px;
    }
    .header--opened & {
      pointer-events: all;
    }
    &-btn {
      display: none;
      z-index: 51;
      transition: opacity 0.3s ease-in-out;
      &:hover,
      &:focus {
        opacity: 0.6;
        transition: opacity 0.3s ease-in-out;
      }
      @include to(992px) {
        display: flex;
      }
      svg {
        pointer-events: none;
        width: 60px;
        height: 14px;
        transform: scale(0.6666);
        transition: all 0.4s ease-in-out;
        .header--opened & {
          height: 45px;
          transition: all 0.4s ease-in-out;
        }
      }
      line {
        stroke: #fff;
        stroke-width: 2px;
        transform: translateX(0) translateY(0) rotate(0);
        transition: all 0.4s ease-in-out;
        &:first-child {
          .header--opened & {
            transform: translateX(60px) translateY(0) rotate(135deg);
            transition: all 0.4s ease-in-out;
          }
        }
        &:last-child {
          .header--opened & {
            transform: translateY(-10px) translateX(25px) rotate(45deg);
            transition: all 0.4s ease-in-out;
          }
        }
      }
    }
  }
}
