extends inc/layout.pug

include inc/settings.pug

block append variables
  - bodyClass = "catalog-inner-page";

block content
  .catalog-products 
    .catalog-products__wrap 
      h1.catalog-products__title(data-sal="fade" data-sal-duration="400" data-sal-easing="ease-in-sine") продукция
      h1.catalog-products__subtitle(data-sal="fade" data-sal-duration="400" data-sal-easing="ease-in-sine") Бокалы для шампанского
      +catalog
