include ../../inc/settings.pug

-
  var aboutAdvantages = [
    {
      key: '1996',
      val: 'год основания <br/>завода',
    },
    {
      key: '350',
      val: 'стекольных мастеров <br/>работают у нас',
    },
    {
      key: '21',
      val: 'поставляем посуду <br/>в 21 страну',
    },
    {
      key: '1540',
      val: 'позиций <br/>товара',
    },
  ];

section.about-promo
  .about-promo__wrap 
    h1.about-promo__title(data-sal="fade" data-sal-duration="400" data-sal-easing="ease-in-sine") завод
    p.about-promo__subtitle(data-sal="fade" data-sal-duration="400" data-sal-easing="ease-in-sine") С 1996 года Гусь-Хрустальный стекольный завод шел по пути модернизации и преобразований. Объединив в себе несколько организаций, в 2019 году предприятие стало корпорацией “Стар”. За 25 лет мы вышли на лидирующую позицию в производстве посуды с титановым покрытием в России. Нашу продукцию выбирают как владельцы серьезных ресторанов и отелей, так и частные покупатели, ценящие эстетику и функциональность. В процессе производства мы не используем красители и краски. Сейчас мы выпускаем 16 миллионов товаров в месяц, и с каждым годом наши производственные мощности только растут.
    .about-promo__items 
      each item in aboutAdvantages
        .about-promo__item(data-sal="slide-up" data-sal-duration="400" data-sal-easing="ease-in-sine")
          .about-promo__item-key #{ item.key }
          .about-promo__item-value !{ item.val }
  picture.about-promo__bg 
    source(srcset=`${imgPath}about-page/about-promo/about-promo-bg-mob.png` media="(max-width: 576px)")
    img(src=`${imgPath}about-page/about-promo/about-promo-bg.png` alt="about-promo-bg")
