-
  var aboutText = ['Мы — крупнейшее предприятие в производстве эксклюзивных декорированных стеклоизделий в России. Используем качественное сырье и тщательно следим за мировыми тенденциями в области производства посуды. Изделия изготавливаются с применением технологий, корни которых уходят в глубину веков, и новейших методик.', 'Посуда производится на высокотехнологичном и современном оборудовании. Оригинальное, дизайнерское разнообразие форм и декоров, позволяет подобрать посуду по вкусу.', 'Используется техника гравировки радужных оттенков с использованием драгоценных и полудрагоценных металлов, пантографии, кристаллайз, украшая бокалы росписью, позолотой и принтами, мы создаем потрясающие изделия, достойные украсить любой праздничный стол', 'Высочайшее качество продукции, современные технологии производства и интересные дизайнерские решения'];


section.about-text 
  .about-text__wrap 
    .about-text__text 
      each text in aboutText
        p(data-sal="slide-up" data-sal-duration="400" data-sal-easing="ease-in-sine") #{ text }
    a.about-text__link.button(href="/catalog.html" data-link="redirect" data-sal="fade" data-sal-duration="400" data-sal-easing="ease-in-sine")
      span смотреть продукцию
      svg(width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M0.717518 15.8597L14.8597 1.71753M14.8597 1.71753H1.42462M14.8597 1.71753V15.1526" stroke="white" stroke-width="2")
