include ../../inc/settings.pug

section.factory
  .factory__wrap 
    h2.factory__title(data-sal="fade" data-sal-duration="400" data-sal-easing="ease-in-sine") Завод
    .factory__heading(data-sal="fade" data-sal-duration="400" data-sal-easing="ease-in-sine") GLASSTAR
    .factory__subblock
      p.factory__text(data-sal="fade" data-sal-duration="400" data-sal-easing="ease-in-sine") С 1996 года Гусь-Хрустальный стекольный завод шел по пути модернизации и преобразований. Объединив в себе несколько организаций, в 2019 году предприятие стало корпорацией “Стар”. За 25 лет мы вышли на лидирующую позицию в производстве посуды с титановым покрытием в России. Нашу продукцию выбирают как владельцы серьезных ресторанов и отелей, так и частные покупатели, ценящие эстетику и функциональность. В процессе производства мы не используем красители и краски. Сейчас мы выпускаем 16 миллионов товаров в месяц, и с каждым годом наши производственные мощности только растут.
      a.factory__btn.button(href="/about.html" data-sal="fade" data-sal-duration="300" data-sal-easing="ease-in-sine") 
        span подробнее
        svg(width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M0.717518 15.8597L14.8597 1.71753M14.8597 1.71753H1.42462M14.8597 1.71753V15.1526" stroke="white" stroke-width="2")
  picture.factory__bg(data-sal="fade" data-sal-duration="400" data-sal-easing="ease-in-sine")
    source(srcset=`${imgPath}main-page/factory/factory-bg-mob.png` media="(max-width: 576px)")
    img(src=`${imgPath}main-page/factory/factory-bg.png` alt="factory-image")
